@{
    ViewData["Title"] = "Home";
}

<div class="home-development-message">

    <h1 class="orange-text">Hello everyone!</h1><br>
    My name is Hryhorii Petrenko.<br>
    I want to be an ASP.NET Core developer and am learning by myself.<br> 
    To be honest, it's not easy to find good information online.<br>
    Therefore, I want to create a website for people who want to learn but find programming 
    difficult.<br>
    There will be a lot of useful information about the C# language and everything related 
    to web development using C#.<br>
    I am creating this site by myself.<br>
    This site is currently under development and I will try to finish it as soon as possible.<br>
    Thanks for understanding.<br>
    If you would like to help me, please donate the link located in the menu above.
</div>
