@{
    ViewData["Title"] = "Home";
}

<div class = "home-development-message">
    
    <h1 class="orange-text">Hello everyone!</h1><br>
    My name is Hryhorii Petrenko.<br>
    I want to be a ASP.NET Core developer and i am studying by myself.
    To be honest it is not easy to find good information on the internet. <br>
    Therefore i want to create a website for people, who wants to study,
    but they think that programming is hard.<br>
    There are will be a lot good info about C# language and everything that connections with Web development using C#<br>
    I create this site onle one. Now this site on developing mode, and i try to finish it as soon as possible.
    Thanks for understanding.<br>
    If you want to help me, donate link locate on menu above.
</div>
