@{
    ViewData["Title"] = "Favorite";
}

<ul class="nav-link-list nav-second-link-list">
    <li class="nav-link-list-li"><a class="nav-link nav-second-link" 
        asp-controller="Book" asp-action="Index">Search</a></li>

    <li class="nav-link-list-li"><a class="nav-link nav-second-link" 
        asp-controller="Book" asp-action="FavoriteBooks" id="Favorite">Favorite</a></li>
</ul>

<div class = "home-development-message">
    <h1 class="orange-text">Favorite books</h1>
</div>